/* #light > div {
  background-color: white;
  color: black;
}

#light input {
  color: black;
  border-bottom: 1px solid black;
}
#light input::placeholder {
  color: black;
}

#dark {
  color: white;
}

html {
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
} */

/* body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  margin: 0;
  background: radial-gradient(
    circle,
    rgba(6, 163, 191, 1) 0%,
    rgba(12, 78, 90, 1) 100%
  );
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Caveat', 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(270deg, #d0afdc, #473457);
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* https://www.8host.com/blog/stilizaciya-polosy-prokrutki-v-css/ */
body::-webkit-scrollbar {
  width: 10px; /* ширина всей полосы прокрутки */
}

body::-webkit-scrollbar-track {
  background: #e9e9e9; /* цвет зоны отслеживания */
  border-radius: 20px;
}

body::-webkit-scrollbar-thumb {
  background-color: #1d92a4; /* цвет бегунка */
  border-radius: 10px; /* округлось бегунка */
  border: 1px solid #000000b9; /*отступ вокруг бегунка*/
}


.my-node-enter {
  opacity: 0;
}
.my-node-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}
.my-node-exit {
  opacity: 1;
}
.my-node-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}